@import url('https://fonts.googleapis.com/css2?family=Bowlby+One+SC&display=swap');
body {

  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  background-image: url("../public/nyanBg.png");
  background-size: cover;
  background-repeat: repeat;
  background-position: center;
  margin: 0;
  padding: 0;
}

#mainCont{
  margin-top: 100px;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

#items {
  margin-top: 30px;
  margin-bottom: auto;
}

#landingTitle {
  margin-top: 5%;
 /* font-family: Droid Sans, sans-serif;*/
 font-family: 'Bowlby One SC', cursive;
 font-size: 4rem;
 color: black;
 text-shadow: -1px -1px 0 #fff, 1px -1px 0 #fff, -1px 1px 0 #fff, 1px 1px 0 #fff;
}

#catLandingTitle {
  margin-top: -30px;
 /* font-family: Droid Sans, sans-serif;*/
 font-family: 'Bowlby One SC', cursive;
 font-size: 8rem;
 color: #ffc107;
 text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
}

#needsWants {
  margin-top: 1%;
 /* font-family: Droid Sans, sans-serif;*/
 font-family: 'Bowlby One SC', cursive;
 font-size: 2rem;
}

#landingBackground {
  margin-top: -40px;
  background-image: url("../public/money.gif");
  background-size: cover;
  background-repeat: no-repeat; 
}

#getStarted{
  margin-top: 30px;
  font-family: 'Bowlby One SC', cursive;

}

#catNav{
  width: 75px;
}

.barCharts{
  background-color: white !important;
}
